@import url(//db.onlinewebfonts.com/c/0915cee867624e0c356dd676beb2dcee?family=ALS+Sector);
@import url(//db.onlinewebfonts.com/c/0373adad7b4c1a926865084f2f8fab7f?family=Circe);

@font-face {
    font-family: "ALS Sector";
    src: url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.eot");
    src: url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.woff") format("woff"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.svg#ALS Sector") format("svg");
}

@font-face {
    font-family: "Circe";
    src: url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot");
    src: url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.svg#Circe") format("svg");
}

.about__places {
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    margin-top: 100px;
    align-content: space-around;
    gap: 5px;
}

.about__places_text {
    display: flex;
    flex-direction: column;
    width: 378px;
    height: 178px;
}

.text-main {
    font-family: 'ALS Sector';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #D00E46;
}

.text-sub {
    font-family: "Circe";
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C
}

.about__map {
    width: 416px;
    height: 161px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    margin-right: 10%;
}

.text-in-card-main {
    font-family: "Circe";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-in-card {
    font-family: "Circe";
    font-size: 14px;
    font-weight: 350;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 114.9%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #6C6C6C;
}

.about__companies {
    width: 100%;
    background: #f5f5f5;
    ;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.bold-text {
    font-weight: bold;
    font-family: "Circe";
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0 2% -1% !important;
}

.about__figures {
    display: flex;
    flex-direction: row;
    margin: 2% 0 2% 5%;
    align-items: center;
    justify-content: space-around;
    gap: 20px
}

.about__figures_card {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 148.2px;
    width: 305.35px;
    border-radius: 5px;
}

.all-cards {
    width: 20%;
    height: 100px;
    border-radius: 5px;
}

.about__companies_logo-image {
    height: 86px;
    width: 178px;
    border-radius: 73px;
    background-color: #ffffff;

}

.ordinary-text {
    font-family: " Circe";
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
    font-family: "Circe";
}

.main-bold-text {
    font-family: "Circe";
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.back {
    background-color: #edf2f6;
}

.vacancy-card {
    /* width: 416px; */
    /* height: 161px; */
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 2%;
}

.vacancy-flag {
    background-color: #F3F3F3;
    border-radius: 5px;
    font-family: "Circe";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
    padding: 3px 7px 3px 7px;
    margin-top: 13px;
    margin-left: 8px;
}

.vacancy-name {
    margin-top: 25px;
    margin-left: 8px;
    /* width: 360px;
    height: 43px; */
}

.vacancy-company {
/* width: 113px;
height: 16px; */
font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 114.9%;
color: #0291EB;
margin-left: 8px;
margin-top: 29px;
margin-bottom: 16px;
}
.vacancy-text {
    padding-top: 40px;
padding-left: 10px;
padding-bottom: 96px;
}

.vacancy-button{
    height: 86px;
width: 416px;
border-radius: 73px;
border: 3px solid #D00E46;
background: #D00E46 ;
/* color: #D00E46; */
}