@import url(//db.onlinewebfonts.com/c/0915cee867624e0c356dd676beb2dcee?family=ALS+Sector);
@import url(//db.onlinewebfonts.com/c/0373adad7b4c1a926865084f2f8fab7f?family=Circe);

@font-face {
    font-family: "ALS Sector";
    src: url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.eot");
    src: url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.woff") format("woff"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.svg#ALS Sector") format("svg");
}

@font-face {
    font-family: "Circe";
    src: url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot");
    src: url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.svg#Circe") format("svg");
}


.about__places {
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    margin-top: 100px;
    align-content: space-around;
    gap: 5px;
}

.about__places_text {
    display: flex;
    flex-direction: column;
    height: 178px;
}

.text-main {
    font-family: 'ALS Sector';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    color: #D00E46;
}

.text-sub {
    font-family: "Circe";
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C
}

.about__map {
    height: 161px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.about__map_mini-image {
    margin-right: 5%;
}

.about__map_place {
    padding: 2%;
    margin-left: 2%;
}

.text-in-card-main {
    font-family: "Circe";
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-in-card {
    font-family: "Circe";
    font-size: 12px;
    font-weight: 350;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 114.9%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #6C6C6C;
    margin-top: 4px;
}

.about__companies {
    width: 100%;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 3%;
    display: flex;
    flex-direction: row;
}

.about__companies_text {
    width: 323px;
    margin-right: 2%;
}

.bold-text {
    font-weight: bold;
    font-family: "Circe";
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0 2% -1% !important;
}

.about__figures {
    display: flex;
    flex-direction: row;
    margin: 2% 0 8% 5%;
    align-items: center;
    justify-content: space-around;
    gap: 20px
}

.about__figures_card {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 148.2px;
    width: 305.35px;
    border-radius: 5px;
    padding-top: 2%;
}
.about__figures_icon {
    border-radius: 50%; 
    position: relative;
    top: 45%
}

.all-cards {
    width: 20%;
    height: 100px;
    border-radius: 5px;
}

.about__companies_logo-image {
    height: 86px;
    border-radius: 73px;
    background-color: #ffffff;
}

.ordinary-text {
    font-family: " Circe";
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
    font-family: "Circe";
}

.main-bold-text {
    font-family: "Circe";
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.back {
    background-color: #edf2f6;
}

.vacancy-card {
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 2%;
}

.vacancy-flag {
    background-color: #F3F3F3;
    border-radius: 5px;
    font-family: "Circe";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
    padding: 3px 7px 3px 7px;
    margin-top: 13px;
    margin-left: 8px;
}

.vacancy-name {
    margin-top: 25px;
    margin-left: 8px;

}

.vacancy-company {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114.9%;
    color: #0291EB;
    margin-left: 8px;
    margin-top: 29px;
    margin-bottom: 16px;
}

.vacancy-text {
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 56px;
}

.vacancy-button {
    height: 86px;
    width: 416px;
    border-radius: 73px;
}

.btn-outline-light,
.btn-outline-light:active,
.btn-outline-light:visited {
    background-color: #edf2f6 !important;
    font-family: 'Circe' !important;
    color: black !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 44px !important;
    text-align: center !important;
    border: 3px solid #D00E46 !important;
}

.btn-outline-light:hover {
    background-color: #D00E46 !important;
    font-family: 'Circe' !important;
    color: rgb(254, 254, 254) !important;
}