@import url(//db.onlinewebfonts.com/c/0915cee867624e0c356dd676beb2dcee?family=ALS+Sector);
@import url(//db.onlinewebfonts.com/c/0373adad7b4c1a926865084f2f8fab7f?family=Circe);

@font-face {
    font-family: "ALS Sector";
    src: url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.eot");
    src: url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.woff") format("woff"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0915cee867624e0c356dd676beb2dcee.svg#ALS Sector") format("svg");
}

@font-face {
    font-family: "Circe";
    src: url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot");
    src: url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.svg#Circe") format("svg");
}


.about__places {
    display: flex;
    /* flex-direction: row; */
    height: 300px;
    justify-content: space-around;
    margin-top: 100px;
    align-content: space-around;
    gap: 5px;
}

.about__places_text {
    display: flex;
    flex-direction: column;
    height: 178px;
}

.text-main {
    font-family: 'ALS Sector';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    color: #D00E46;
}

.text-sub {
    font-family: "Circe";
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C
}

.about__map {
    height: 161px;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.about__map_mini-image {
    margin-right: 5%;
}

.about__map_place {
    padding: 2%;
    margin-left: 2%;
}

.text-in-card-main {
    font-family: "Circe";
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-in-card {
    font-family: "Circe";
    font-size: 12px;
    font-weight: 350;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 114.9%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #6C6C6C;
    margin-top: 4px;
}

.about__companies {
    width: 100%;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 3%;
    display: flex;
    flex-direction: row;
}

.about__companies_text {
    width: 323px;
    margin-right: 2%;
}

.bold-text {
    font-weight: bold;
    font-family: "Circe";
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0 2% -1% !important;
}

.about__figures {
    display: flex;
    flex-direction: row;
    margin: 2% 0 8% 5%;
    align-items: center;
    justify-content: space-around;
    gap: 20px
}

.about__figures_card {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 148.2px;
    width: 305.35px;
    border-radius: 5px;
    padding-top: 2%;
}

.about__figures_icon {
    border-radius: 50%;
    position: relative;
    top: 45%
}

.all-cards {
    width: 20%;
    height: 100px;
    border-radius: 5px;
}

.about__companies_logo-image {
    height: 86px;
    border-radius: 73px;
    background-color: #ffffff;
}

.ordinary-text {
    font-family: " Circe";
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    font-style: normal;
    font-family: "Circe";
    text-align: justify;
}

.another-align {
    text-align: left;
}

.main-bold-text {
    font-family: "Circe";
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;

    text-align: center;
}

.back {
    background-color: #edf2f6;
}

.vacancy-card {
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 2%;
}

.vacancy-flag {
    background-color: #F3F3F3;
    border-radius: 5px;
    font-family: "Circe";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
    padding: 3px 7px 3px 7px;
    margin-top: 13px;
    margin-left: 8px;
}

.vacancy-name {
    margin-top: 25px;
    margin-left: 8px;

}

.vacancy-company {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114.9%;
    color: #0291EB;
    margin-left: 8px;
    margin-top: 29px;
    margin-bottom: 16px;
}

.vacancy-text {
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 56px;
}

.vacancy-button {
    height: 86px;
    width: 416px;
    border-radius: 73px;
}

.card-text-map {
    padding-top: 40px;
    height: 26px;
    margin-left: -35%;
}

.btn-outline-light,
.btn-outline-light:active,
.btn-outline-light:visited {
    background-color: #edf2f6 !important;
    font-family: 'Circe' !important;
    color: black !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 44px !important;
    text-align: center !important;
    border: 3px solid #D00E46 !important;
    height: 86px !important;
    width: 416px !important;
    border-radius: 73px !important;
    margin-top: 8px !important;
}

.btn-outline-light:hover {
    background-color: #D00E46 !important;
    font-family: 'Circe' !important;
    color: rgb(254, 254, 254) !important;
}

.card-img-left {
    border-radius: 50% !important;
}

.about__map_mini {
    display: flex;
    flex-direction: row;
    padding-left: 15%
}

.mini-img {
    border-radius: 50%
}

.logos {
    padding: 15%;
    width: 175px;
}

/* логотипы компаний */

.logo-elvis {
    /* padding:15%;  */
    width: 175px;
}

.logo-nextouch {
    padding: 10%;
    width: 160px;
}

.logo-medplant {
    margin-top: 17%
}

.logo-mikron {
    padding: 15%
}

.logo-netprint {
    padding-top: 23px
}

.logo-nauchnye {
    padding-top: 23px;
}

.logo-mesoformula {
    padding-top: 23px;
}

.logo-profotek {
    padding-top: 23px;
}

.logo-ps {
    padding-top: 7px;
}

.logo-farm {
    padding: 10%
}

.logo-chirana {
    padding: 15%
}

@media only screen and (max-width: 1200px) and (min-width: 770px) {
    .about__places {
        justify-content: space-evenly !important;
    }

    .about__map_media {
        justify-content: space-between;
        width: 700px;
    }

    .about__places_text {
        padding-left: 27% !important;
        margin-top: 30% !important;
    }

    .about__map_place {
        display: flex;
        justify-content: left;
        /* height: 30% !important; */

    }

    .text-main {
        font-size: 54px;
    }

    .text-sub {
        font-size: 42px;
    }

    .about__map {
        height: 140px;
        width: 70%;
        margin-left: 15% !important;
    }

    .about__map_mini {
        margin-left: 23% !important;
    }

    .mini-img {
        height: 40px;
        margin-top: -1%;
    }

    .card-img-left {
        margin-left: 10%;
        height: 100px;
        margin-top: 2%;
    }

    .card-text-map {
        margin-left: -100%;
        margin-top: -1.5% !important;
    }

    .about__companies {
        margin-top: 30% !important;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0 !important;
        /* обратить внимание */
    }

    .about__companies_text {
        width: 100%;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    .about__companies_logo-image {
        height: 76px;
        width: 130px;
        border-radius: 73px;
        background-color: #ffffff;
    }

    .logo-elvis {
        width: 140px !important;
        padding-top: 15%;
        margin-left: 5%;
    }

    .logo-nextouch {
        width: 120px !important;
        margin-left: 12%;
    }

    .logo-medplant {
        padding-top: 15% !important;
        margin-left: 5%;
        width: 140px !important;
    }

    .logo-mikron {
        padding: 15%;
        width: 120px !important;
        margin: 10%;
    }

    .logo-netprint {
        width: 85% !important;
        margin-left: 7%;
    }

    .logo-nauchnye {
        width: 75% !important;
        margin-left: 12% !important;
        padding-top: 10%;
    }

    .logo-profotek {
        width: 85% !important;
        padding-top: 15% !important;
        margin-left: 7%;
    }

    .logo-ps {
        width: 100px !important;
        margin-left: 17% !important;
        padding-top: 0 !important
    }

    .logo-farm {
        width: 85% !important;
        margin-left: 8%;
    }

    .logo-chirana {
        width: 85% !important;
        margin-left: 10%;
    }

    .btn-outline-light,
    .btn-outline-light:active,
    .btn-outline-light:visited {
        font-size: 18px !important;
        height: 80px !important;
        width: 266px !important;
        margin-top: 7% !important;
        margin-left: 10%;
    }

}

@media only screen and (max-width: 770px) and (min-width: 350px) {
    .about__places {
        justify-content: space-evenly !important;
    }

    .about__map_media {
        /* width: 30%; */
        justify-content: center;
    }

    .text-main {
        font-size: 42px;
    }

    .text-sub {
        font-size: 36px;
    }

    .about__places_text {
        padding-left: 30% !important;
        margin-top: 20% !important;
    }
}